@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dominik Fojt<br />
    <abbr title="Telefon">P:</abbr>
    731 120 644
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:d.a.fojt@gmail.com">d.a.fojt@gmail.com</a><br />
</address>