@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ewidencja pracowników</h1>
    <p class="lead">Witaj na platformie ewidencjonującej pracowników, umowy oraz ich aneksy.</p>
    <p><a class="btn btn-primary btn-lg" value="Employee">Lista pracowników &raquo;</a></p>
    @Html.ActionLink("Pracownik", "Employee", "Home")
</div>
    </div>
</div>